body {
  background-color: whitesmoke;
}

.header {
  font-style: italic;
  letter-spacing: 7px;
  font-family: SEGOE SCRIPT;
  font-size: 50px;
  color: #f409aa;
  text-shadow: -0 -5px 5px #f4f2f2, 0 -5px 5px #f4f2f2, -0 5px 5px #f4f2f2,
    0 5px 5px #f4f2f2, -5px -0 5px #f4f2f2, 5px -0 5px #f4f2f2,
    -5px 0 5px #f4f2f2, 5px 0 5px #f4f2f2, -1px -5px 5px #f4f2f2,
    1px -5px 5px #f4f2f2, -1px 5px 5px #f4f2f2, 1px 5px 5px #f4f2f2,
    -5px -1px 5px #f4f2f2, 5px -1px 5px #f4f2f2, -5px 1px 5px #f4f2f2,
    5px 1px 5px #f4f2f2, -2px -5px 5px #f4f2f2, 2px -5px 5px #f4f2f2,
    -2px 5px 5px #f4f2f2, 2px 5px 5px #f4f2f2, -5px -2px 5px #f4f2f2,
    5px -2px 5px #f4f2f2, -5px 2px 5px #f4f2f2, 5px 2px 5px #f4f2f2,
    -3px -5px 5px #f4f2f2, 3px -5px 5px #f4f2f2, -3px 5px 5px #f4f2f2,
    3px 5px 5px #f4f2f2, -5px -3px 5px #f4f2f2, 5px -3px 5px #f4f2f2,
    -5px 3px 5px #f4f2f2, 5px 3px 5px #f4f2f2, -4px -5px 5px #f4f2f2,
    4px -5px 5px #f4f2f2, -4px 5px 5px #f4f2f2, 4px 5px 5px #f4f2f2,
    -5px -4px 5px #f4f2f2, 5px -4px 5px #f4f2f2, -5px 4px 5px #f4f2f2,
    5px 4px 5px #f4f2f2, -5px -5px 5px #f4f2f2, 5px -5px 5px #f4f2f2,
    -5px 5px 5px #f4f2f2, 5px 5px 5px #f4f2f2, -5px -5px 5px #f4f2f2,
    5px -5px 5px #f4f2f2, -5px 5px 5px #f4f2f2, 5px 5px 5px #f4f2f2;
}

.blockquote {
  height: 300px; 
  
  background: #4b79a1; 
  background: linear-gradient(
    to top,
    #283e51,
    #0a2342
  );
}

.stars {
  height: 300px;
  vertical-align: bottom;
  color: white;
  display: table-cell;
  background: url(http://www.script-tutorials.com/demos/360/images/stars.png)
    repeat top center;
}

.cocktail-h {
  font-family: SEGOE SCRIPT;
  font-size: 30px;
  color: #fcf7fa;
  text-shadow: -0 -5px 1px #f409aa, 0 -5px 1px #f409aa, -0 5px 1px #f409aa,
    0 5px 1px #f409aa, -5px -0 1px #f409aa, 5px -0 1px #f409aa,
    -5px 0 1px #f409aa, 5px 0 1px #f409aa, -1px -5px 1px #f409aa,
    1px -5px 1px #f409aa, -1px 5px 1px #f409aa, 1px 5px 1px #f409aa,
    -5px -1px 1px #f409aa, 5px -1px 1px #f409aa, -5px 1px 1px #f409aa,
    5px 1px 1px #f409aa, -2px -5px 1px #f409aa, 2px -5px 1px #f409aa,
    -2px 5px 1px #f409aa, 2px 5px 1px #f409aa, -5px -2px 1px #f409aa,
    5px -2px 1px #f409aa, -5px 2px 1px #f409aa, 5px 2px 1px #f409aa,
    -3px -5px 1px #f409aa, 3px -5px 1px #f409aa, -3px 5px 1px #f409aa,
    3px 5px 1px #f409aa, -5px -3px 1px #f409aa, 5px -3px 1px #f409aa,
    -5px 3px 1px #f409aa, 5px 3px 1px #f409aa, -4px -5px 1px #f409aa,
    4px -5px 1px #f409aa, -4px 5px 1px #f409aa, 4px 5px 1px #f409aa,
    -5px -4px 1px #f409aa, 5px -4px 1px #f409aa, -5px 4px 1px #f409aa,
    5px 4px 1px #f409aa, -5px -5px 1px #f409aa, 5px -5px 1px #f409aa,
    -5px 5px 1px #f409aa, 5px 5px 1px #f409aa, -5px -5px 1px #f409aa,
    5px -5px 1px #f409aa, -5px 5px 1px #f409aa, 5px 5px 1px #f409aa;
}

.white-font {
  font-size: 20px;
  color: #ffffff;
  text-shadow: -0 -4px 0 #000000, 0 -4px 0 #000000, -0 4px 0 #000000,
    0 4px 0 #000000, -4px -0 0 #000000, 4px -0 0 #000000, -4px 0 0 #000000,
    4px 0 0 #000000, -1px -4px 0 #000000, 1px -4px 0 #000000, -1px 4px 0 #000000,
    1px 4px 0 #000000, -4px -1px 0 #000000, 4px -1px 0 #000000,
    -4px 1px 0 #000000, 4px 1px 0 #000000, -2px -4px 0 #000000,
    2px -4px 0 #000000, -2px 4px 0 #000000, 2px 4px 0 #000000,
    -4px -2px 0 #000000, 4px -2px 0 #000000, -4px 2px 0 #000000,
    4px 2px 0 #000000, -3px -4px 0 #000000, 3px -4px 0 #000000,
    -3px 4px 0 #000000, 3px 4px 0 #000000, -4px -3px 0 #000000,
    4px -3px 0 #000000, -4px 3px 0 #000000, 4px 3px 0 #000000,
    -4px -4px 0 #000000, 4px -4px 0 #000000, -4px 4px 0 #000000,
    4px 4px 0 #000000, -4px -4px 0 #000000, 4px -4px 0 #000000,
    -4px 4px 0 #000000, 4px 4px 0 #000000;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
  align-items: flex-start;
}

.shadowbox {
  position: absolute;
  left: 50px;
  top: 80px;
  width: 578px;
  height: 385px;
  border: 1px solid #333;
  box-shadow: 8px 8px 5px #444;
  background-image: url("../pictures/toDo.jpg");
  background-repeat: no-repeat;
  background-size: contain;
}

.image-container {
  position: absolute;
  left: 50px;
  top: 80px;
  width: 578px;
  height: 385px;
  background-image: linear-gradient(180deg, #f7f7f5, #797a79 70%, #ccc);
  background-repeat: no-repeat;
  background-size: contain;
}

.box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  box-sizing: border-box;
  position: relative;
  height: 430px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 2px;
}

.section {
  position: relative;
  margin: 20px;
  padding: 20px;
  width: 150px;
  height: 250px;
  left: 36px;
  top: 62px;
  background: rgba(255, 247, 247, 0.65);
  box-shadow: 0px 1px 16px 16px #0a23428c,
    4px 8px 16px 1px  #283e5173;
  border-radius: 2px;
}

.restangle-header {
  position: absolute;
  background-color: #524b4b;
  width: 170px;
}

.restangle-body {
  position: absolute;
  width: 150px;
  left: 24px;
  top: 80px;
}

.btn {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 300px 20px;
  cursor: pointer;
}

.flex-container > button {
  padding: 16px 32px;
  margin: 7px;
  background: rgba(242, 236, 77, 0.85);
  box-shadow: inset 0px 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  color: #f409aaf7;
  font-family: COMIC SANS MS;
}

.calendar {
  width: 75%;
  margin: 0;
  padding: 3rem 2rem 2rem;
  background: #f0e4e4;
  text-align: center;
  color: #0a0a0a;
  list-style: none;
  box-shadow: 8px 8px 5px #444;
}

.month {
  margin: 0;
  padding: 1rem 0;
  background-color: #0775f3af;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.month li {
  display: inline-block;
  padding-inline: 10px;
  text-align: center;
  font-size: x-large;
}

.weekdays {
  margin: 0;
  padding: 1rem 0;
  background-color: #01bef8b9;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: left;
}

.weekdays li {
  display: inline-block;
  flex: 0 0 calc(100% / 7);
  text-align: center;
}

.days {
  margin: 0;
  padding: 1rem 0;
  background-color: #08fceff3;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  align-content: flex-start;
  height: 14rem;
}

.days li {
  padding-bottom: 1rem;
  list-style: none;
  display: inline-block;
  flex: 0 0 calc(100% / 7);
  text-align: center;
  color: #1f07fc;
  font-size: 1rem;
  line-height: 1.5rem;
}

table {
  width: 30%;
  border-collapse: collapse; 
  border: solid grey;
}
thead > tr {
  background: #97efad;
}
th {
  padding: 15px
}
tbody {
  background: lightgrey;
}
td {
  padding: 10px;
  text-align: center;
}
.tb-weekdays {
  background: #8fcbddb9;
}

.weekends {
  background: #0ca6d54f;
}
.not-current {
  background: whitesmoke;
  color: grey;
}

.pointed-day, .mouseover-pointed {
  background: #97efad;
}

a {
  text-decoration: none;
}

a:visited  {
  color: #000000;
}